{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "Default": "server=localhost;userid=thalles;pwd=;port=3306;database=taiga"
  },
  "JwtConfig": {
    "Secret": "",
    "ExpirationTime": 43200
  },
  "EmailConfiguration": {
    "Driver": "smtp",
    "Host": "smtp.mailtrap.io",
    "Port": 2525,
    "UserName": "",
    "Password": "",
    "Encryption": "tls",
    "FromAddres": "contato.taiga@contato.com.br",
    "FromName": "Taiga"
  },
  "AttemptsLimit": "10"
}
