<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taiga - Email Confirm</title>
</head>
<body>
  <h1>Hello, {UserName}</h1>
  <p>We verify that you have attempted to login to our system. Use the code below to complete authentication.</p>
  <b>{Code}</b>
</body>
</html>
