<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taiga - Email Confirm</title>
</head>
<body>
  <h1>Hello, {UserName}</h1>
  <p>Welcome to Clone Taiga, it is a pleasure to have you with us! To confirm your email, use the code below:</p>
  <b>{Code}</b>
</body>
</html>
